
<h3> <%= @user.name  %>'s Profile</h3>

<h5><%= @user.email %></h5>

<!-- Only show these buttons if the @user var contains the same user as @current_user -->
<% if @user == @current_user %>
<div class="controls">
  <%= link_to "Edit user", edit_user_path(@user) %> |
  <%= link_to "Delete account", user_path(@user), :method => :delete, :data => { :confirm => "Are you sure?"} %>
</div>
<% end %>

<br>
<%= form_tag("/soundcloud", method: "get") do %>
  <%= label_tag(:search, "Choose Genre:") %>
  <%= collection_select( :search, :search, Genre.all, :name, :name, :include_blank => true ) %>
  <%= submit_tag "Music Please!" %>
<% end %>

<h5> User Playlists </h5>
<% @user.playlists.each do |playlist| %>

<h6>
  <%= link_to(playlist.name, playlist_path(playlist) ) %>
</h6>

<!-- For current playlist, print out all songs -->
<ul>
  <% playlist.songs.each do |song| %>
    <li>
      <%= link_to(song.name, song_path(song) ) %>
      by
      <%= link_to(song.artist.name, artist_path(song.artist) ) %>
    </li>
  <% end %>
</ul>
<% end %>


<hr>

<p>Find me in app/views/users/show.html.erb</p>
